@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
html{
    background-color: black;
    font-family: 'Rubik', sans-serif;
}
h2{
 text-align: justify;
 color: white;
}
#descricao{
    color: white;
}
#titulo{
    color: white;
}
#texto{
    color: white;
}
#foto1{
    height: 8cm;
}
#titulo{
    text-align:justify;
}
#insta2{
    width: 30px;
}
#infor{
    color:white;
}